* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.clearfix:after,
.row:after {
  content: "";
  display: table;
  clear: both;
}
.container {
  display: block;
  width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
}
.col-2,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-12 {
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h1 {
  font-size: 4em;
}
p {
  margin: 0;
}
hr {
  margin: 0;
}
/* all */
/* header */
#header {
  margin: 0 auto;
  padding: 7px 30px;
}
#header .section-a .block-left {
  float: left;
  width: 39%;
}
#header .section-a .block-left li {
  float: left;
  padding-right: 10%;
}
#header .section-a .navbar {
  padding: 22px;
  background-color: white;
}
#header .section-a .navbar .logo li {
  float: left;
}
#header .section-a .navbar .logo .phone-padding {
  float: left;
  padding: 15px 22px;
  font-weight: 700;
}
#header .section-a .navbar .logo .phone-padding a {
  color: #4b4b4b;
}
#header .section-a .navbar .navbar-nav {
  margin-left: auto;
}
#header .section-a .navbar .navbar-toggler {
  border: none;
  outline: none;
}
#header .section-a .navbar .nav-item .nav-link {
  padding: 0.8rem 1rem;
}
#header .section-a .navbar .nav-item .nav-item-search li {
  position: relative;
  float: left;
}
#header .section-a .navbar .nav-item .nav-item-search li a {
  padding: 0 8px;
  font-size: 30px;
  color: #000;
}
#header .section-a .navbar .nav-item .nav-item-search li .amount {
  position: absolute;
  top: 21px;
  left: 33px;
  padding: 2px 7px;
  font-size: 13px;
  font-weight: 700;
  border: 3px solid white;
  border-radius: 50%;
  color: white;
  background-color: black;
}
.header {
  padding: 50px 0;
  text-align: center;
  background-color: #f4f4f4;
}
.header h2 {
  font-size: 45px;
  font-weight: 700;
  padding: 15px 0;
  color: #494949;
}
.header p {
  padding: 10px 0;
  color: #494949;
}
/* content */
#content .container .section-b .title {
  color: #494949;
}
#content .container .section-b .title h2 {
  font-weight: 700;
}
#content .container .section-b .title p {
  line-height: 30px;
}
#content .container .section-b .title p .f-w-700 {
  font-size: 18px;
  font-weight: 700;
}
#content .container .section-c {
  padding: 30px 0;
}
#content .container .section-c .title h6 {
  font-weight: 700;
  font-size: 15px;
  color: #494949;
}
#content .container .section-c li {
  float: left;
  padding-right: 10px;
}
#content .container .section-c li a {
  color: #494949;
}
#content .container .section-d .products img {
  width: 100%;
}
#content .container .section-d .products .col-3 {
  float: left;
  width: 30%;
  padding-left: 0;
  padding-right: 10px;
}
#content .container .section-d .products .col-3 .thumbnail {
  position: relative;
}
#content .container .section-d .products .col-3 .thumbnail .cover {
  position: absolute;
  background-image: url(https://dummyimage.com/600x400/f5cfc9/f5cfc9);
  background-size: cover;
  background-position: 50% 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  opacity: 0;
  transition: all 0.3s;
}
#content .container .section-d .products .col-3 .thumbnail .cover > a {
  color: #333;
  text-decoration: none;
  position: absolute;
  top: 45%;
  opacity: 0.5;
}
#content .container .section-d .products .col-3 .thumbnail .cover:hover {
  opacity: 1;
}
#content .container .section-d .products .col-3 .thumbnail .cover .social-media {
  position: absolute;
  width: 100%;
  bottom: 40%;
  text-align: center;
}
#content .container .section-d .products .col-3 .thumbnail .cover ul {
  display: inline-block;
}
#content .container .section-d .products .col-3 .thumbnail .cover ul li {
  float: left;
  padding: 10px;
  margin: 0 3px;
  border-radius: 50%;
  color: white;
  background-color: #515151;
}
#content .container .section-d .products .col-3 .thumbnail .cover ul li a {
  color: white;
}
#content .container .section-d .products .col-3 .col-3-info {
  margin-top: 10px;
}
#content .container .section-d .products .col-3 .col-3-info h6 {
  margin-left: 20px;
  font-weight: 800;
  color: #494949;
}
#content .container .section-d .products .col-3 .col-3-info p {
  margin-left: 20px;
  margin-top: 2px;
  font-size: 12px;
  font-weight: 700;
  color: #a0a0a0;
}
#content .container .section-d .products .col-3 .col-3-info .box-alto {
  position: absolute;
  padding: 17px 4px;
  background-color: #eee;
}
#content .container .section-d .products .padding-right {
  padding-right: 0;
}
#section-e {
  padding-bottom: 200px;
}
#section-e #carouselExampleIndicators img {
  width: 100%;
  height: auto;
}
#section-e #carouselExampleIndicators .row {
  margin: 0;
}
#section-e #carouselExampleIndicators .carousel-indicators {
  bottom: -12%;
  overflow: hidden;
}
#section-e #carouselExampleIndicators .carousel-indicators li {
  width: 70px;
  background-color: #b6b6b6;
}
#section-e #carouselExampleIndicators .carousel-inner .carousel-item .col-2 {
  float: left;
}
#section-e #carouselExampleIndicators .carousel-inner .carousel-item .col-2 .col-2-img {
  padding: 5px;
}
#section-e #carouselExampleIndicators .carousel-inner .carousel-item .col-4 {
  float: left;
}
#section-e #carouselExampleIndicators .carousel-inner .carousel-item .col-4 img {
  padding: 5px;
}
#section-e #carouselExampleIndicators .carousel-inner .carousel-item .col-4 {
  float: left;
}
#section-e #carouselExampleIndicators .carousel-inner .carousel-item .col-4 .col-5 {
  float: left;
}
#section-e #carouselExampleIndicators .carousel-inner .carousel-item .col-4 .col-7 {
  float: left;
}
#section-e #carouselExampleIndicators .carousel-inner .carousel-item .col-4 img {
  padding: 5px;
}
#section-e #carouselExampleIndicators .carousel-control-prev {
  width: 16.666667%;
  background-color: white;
}
#section-e #carouselExampleIndicators .carousel-control-prev .icon-chevron_left {
  color: #878787;
}
#section-e #carouselExampleIndicators .carousel-control-next {
  width: 16.666667%;
  background-color: white;
}
#section-e #carouselExampleIndicators .carousel-control-next .icon-chevron_right {
  color: #878787;
}
#section-e h5 {
  font-weight: 800;
}
#carouselExampleInterval {
  display: none;
}
#carouselExampleInterval-s {
  display: none;
}
#carousel-s {
  display: none;
}
.section-b {
  padding: 60px 0;
}
.section-b .title {
  color: #494949;
}
.section-b .title h2 {
  padding: 50px 0;
}
.section-c .title {
  padding: 20px 0;
}
.section-d {
  padding: 60px 0;
}
.section-d h5 {
  font-weight: 800;
  padding-bottom: 40px;
}
/* footer */
#footer {
  background-color: #f6f6f6;
}
#footer a {
  font-size: 13px;
  color: #7f7f7f;
  transition: all 0.27s;
}
#footer a:hover {
  color: #f29898;
}
#footer .section-h p {
  padding: 18px 0;
  font-size: 13px;
  color: #7f7f7f;
}
#footer .section-h .col-5 {
  position: relative;
  float: left;
  max-width: 28%;
  flex: 10%;
  color: #a0a0a0;
}
#footer .section-h .col-5 .li-bottom {
  padding-bottom: 30px;
}
#footer .section-h .col-5 h2 {
  color: #7f7f7f;
  font-weight: 800;
}
#footer .section-h .col-5 h6 {
  padding-bottom: 35px;
  font-weight: 700;
  color: #575757;
}
#footer .section-h .col-5 .icon-location-ul i {
  position: absolute;
}
#footer .section-h .col-5 .contact_info {
  padding: 0;
  padding-left: 35px;
  padding-bottom: 5px;
}
#footer .section-h .col-5 .bottom li {
  padding-bottom: 20px;
}
#footer .section-h .col-5 .social-media {
  float: right;
}
#footer .section-h .col-5 .social-media h6 {
  text-align: right;
  padding-bottom: 18px;
}
#footer .section-h .col-5 .social-media li {
  float: left;
  padding-left: 7px;
}
#footer .section-h .col-5 .title-right {
  float: right;
}
#footer .section-h .col-5 .input-group {
  width: 100%;
  padding: 0.5rem 1.6rem;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 1.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
#footer .section-h .col-5 .input-group .form-control-2 {
  display: block;
  width: 90%;
  border: none;
  outline: none;
  color: #767c82;
  background: none;
}
#footer .section-h .col-5 .mb-3 {
  margin-bottom: 2rem!important;
}
#footer .section-h .col-5 .p-padding {
  float: right;
  text-align: right;
  padding: 0 0 29px;
}
#footer .section-h .col-5-l {
  flex-grow: 3;
  flex-basis: 6%;
}
#footer .section-h .row-s {
  display: none;
}
#footer .section-h .row-s .col-6 {
  position: relative;
  float: left;
  color: #a0a0a0;
}
#footer .section-h .row-s .col-6 .li-bottom {
  padding-bottom: 30px;
}
#footer .section-h .row-s .col-6 h2 {
  color: #7f7f7f;
  font-weight: 800;
}
#footer .section-h .row-s .col-6 h6 {
  padding-bottom: 35px;
  font-weight: 700;
  color: #575757;
}
#footer .section-h .row-s .col-6 .icon-location-ul i {
  position: absolute;
}
#footer .section-h .row-s .col-6 .contact_info {
  padding: 0;
  padding-left: 35px;
  padding-bottom: 5px;
}
#footer .section-h .row-s .col-6 .bottom li {
  padding-bottom: 20px;
}
#footer .section-h .row-s .col-6 .social-media h6 {
  padding-bottom: 18px;
}
#footer .section-h .row-s .col-6 .social-media li {
  float: left;
  padding-left: 7px;
}
#footer .section-h .row-s .col-6 .input-group {
  width: 100%;
  padding: 0.5rem 1.6rem;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 1.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
#footer .section-h .row-s .col-6 .input-group .form-control-2 {
  display: block;
  width: 90%;
  border: none;
  outline: none;
  color: #767c82;
  background: none;
}
#footer .section-h .row-s .col-6 .mb-3 {
  margin-bottom: 2rem!important;
}
#footer .section-h .row-s .col-6 .p-padding {
  padding: 0 0 29px;
}
#footer .section-h .row-s .col-4 {
  position: relative;
  float: left;
  color: #a0a0a0;
}
#footer .section-h .row-s .col-4 .li-bottom {
  padding-bottom: 30px;
}
#footer .section-h .row-s .col-4 h2 {
  color: #7f7f7f;
  font-weight: 800;
}
#footer .section-h .row-s .col-4 h6 {
  padding-bottom: 35px;
  font-weight: 700;
  color: #575757;
}
#footer .section-h .row-s .col-4 .icon-location-ul i {
  position: absolute;
}
#footer .section-h .row-s .col-4 .contact_info {
  padding: 0;
  padding-left: 35px;
  padding-bottom: 5px;
}
#footer .section-h .row-s .col-4 .bottom li {
  padding-bottom: 20px;
}
#footer .section-h .row-s .col-4 .social-media h6 {
  padding-bottom: 18px;
}
#footer .section-h .row-s .col-4 .social-media li {
  float: left;
  padding-left: 7px;
}
#footer .section-h .row-s .col-4 .p-padding {
  padding: 0 0 29px;
}
#footer .section-h .row-s .col-6-bottom {
  padding-bottom: 70px;
}
.copyright .container {
  padding: 20px 0;
}
.copyright .title {
  float: left;
  font-size: 12px;
  color: #8e8e8e;
}
.copyright .title span {
  font-weight: 800;
  color: #000;
}
.copyright .title span a {
  color: #000;
  transition: all 0.27s;
}
.copyright .title span a:hover {
  color: #f29898;
}
.copyright ul {
  float: right;
}
.copyright ul li {
  float: left;
  padding-left: 10px;
}
/* copyright */
/* rwd 768 */
@media (max-width: 1000px) {
  .container {
    width: 750px;
  }
  #header {
    padding: 0 30px;
  }
  #content .section-b .title h2 {
    padding: 0 0 20px 0;
  }
  #content .section-c .title {
    padding-top: 0;
  }
  #content .section-d {
    padding: 0;
  }
  #content .section-d .products {
    display: none;
  }
  #content .section-d #carouselExampleInterval {
    display: block;
  }
  #content .section-d #carouselExampleInterval .productss .col-6 {
    float: left;
    padding: 0 13px;
  }
  #content .section-d #carouselExampleInterval .productss .col-6 img {
    width: 100%;
  }
  #content .section-d #carouselExampleInterval .productss .col-6 .thumbnail {
    position: relative;
  }
  #content .section-d #carouselExampleInterval .productss .col-6 .thumbnail .cover {
    position: absolute;
    background-image: url(https://dummyimage.com/600x400/f5cfc9/f5cfc9);
    background-size: cover;
    background-position: 50% 50%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    opacity: 0;
    transition: all 0.3s;
  }
  #content .section-d #carouselExampleInterval .productss .col-6 .thumbnail .cover > a {
    color: #333;
    text-decoration: none;
    position: absolute;
    top: 45%;
    opacity: 0.5;
  }
  #content .section-d #carouselExampleInterval .productss .col-6 .thumbnail .cover:hover {
    opacity: 1;
  }
  #content .section-d #carouselExampleInterval .productss .col-6 .thumbnail .cover .social-media {
    position: absolute;
    width: 100%;
    bottom: 40%;
    text-align: center;
  }
  #content .section-d #carouselExampleInterval .productss .col-6 .thumbnail .cover ul {
    display: inline-block;
  }
  #content .section-d #carouselExampleInterval .productss .col-6 .thumbnail .cover ul li {
    float: left;
    padding: 10px;
    margin: 0 3px;
    border-radius: 50%;
    color: white;
    background-color: #515151;
  }
  #content .section-d #carouselExampleInterval .productss .col-6 .thumbnail .cover ul li a {
    color: white;
  }
  #content .section-d #carouselExampleInterval .productss .col-6 .col-6-info {
    margin-top: 10px;
  }
  #content .section-d #carouselExampleInterval .productss .col-6 .col-6-info h6 {
    margin-left: 20px;
    font-weight: 800;
    color: #494949;
  }
  #content .section-d #carouselExampleInterval .productss .col-6 .col-6-info p {
    margin-left: 20px;
    margin-top: 2px;
    font-size: 12px;
    font-weight: 700;
    color: #a0a0a0;
  }
  #content .section-d #carouselExampleInterval .productss .col-6 .col-6-info .box-alto {
    position: absolute;
    padding: 17px 4px;
    background-color: #eee;
  }
  #content .section-d #carouselExampleInterval .productss .padding-right {
    padding-right: 0;
  }
  #content .section-d #carouselExampleInterval .productss .left {
    padding-left: 0;
  }
  #content .section-d #carouselExampleInterval .productss .right {
    padding-right: 0;
  }
  #content .section-d #carouselExampleInterval .carousel-control-prev .icon-chevron_left {
    color: #575757;
  }
  #content .section-d #carouselExampleInterval .carousel-control-next .icon-chevron_right {
    color: #575757;
  }
  #content .section-d #carouselExampleInterval-s {
    display: none;
  }
  #section-e {
    padding-bottom: 100px;
  }
  #footer .section-h .row {
    display: none;
  }
  #footer .section-h .row-s {
    display: block;
  }
  #footer .section-h .row-s .col-12 {
    padding-bottom: 50px;
  }
  #footer .section-h .row-s .col-4-left {
    padding-left: 80px;
  }
  #footer .section-h .row-s .col-4-bottom {
    padding-bottom: 0;
  }
  #footer .section-h .row-s .col-6-left {
    padding-left: 77px;
  }
}
/* rwd 700X320 */
@media (max-width: 700px) {
  .container {
    width: 100%;
  }
  #header {
    padding: 0;
  }
  #header .section-a .phone-padding {
    display: none;
  }
  #content .section-b {
    padding: 0;
  }
  #content .section-b .title {
    text-align: center;
    padding: 0 15px;
  }
  #content .section-c {
    text-align: center;
  }
  #content .section-c ul {
    width: 190px;
    margin: 0 auto;
  }
  #content .section-d {
    padding: 0;
  }
  #content .section-d h5 {
    text-align: center;
  }
  #content .section-d .products {
    display: none;
  }
  #content .section-d #carouselExampleInterval {
    display: none;
  }
  #content .section-d #carouselExampleInterval-s {
    display: block;
  }
  #content .section-d #carouselExampleInterval-s .productss .col-12 {
    float: left;
    padding: 0 13px;
  }
  #content .section-d #carouselExampleInterval-s .productss .col-12 img {
    width: 100%;
  }
  #content .section-d #carouselExampleInterval-s .productss .col-12 .thumbnail {
    position: relative;
  }
  #content .section-d #carouselExampleInterval-s .productss .col-12 .thumbnail .cover {
    position: absolute;
    background-image: url(https://dummyimage.com/600x400/f5cfc9/f5cfc9);
    background-size: cover;
    background-position: 50% 50%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    opacity: 0;
    transition: all 0.3s;
  }
  #content .section-d #carouselExampleInterval-s .productss .col-12 .thumbnail .cover > a {
    color: #333;
    text-decoration: none;
    position: absolute;
    top: 45%;
    opacity: 0.5;
  }
  #content .section-d #carouselExampleInterval-s .productss .col-12 .thumbnail .cover:hover {
    opacity: 1;
  }
  #content .section-d #carouselExampleInterval-s .productss .col-12 .thumbnail .cover .social-media {
    position: absolute;
    width: 100%;
    bottom: 40%;
    text-align: center;
  }
  #content .section-d #carouselExampleInterval-s .productss .col-12 .thumbnail .cover ul {
    display: inline-block;
  }
  #content .section-d #carouselExampleInterval-s .productss .col-12 .thumbnail .cover ul li {
    float: left;
    padding: 10px;
    margin: 0 3px;
    border-radius: 50%;
    color: white;
    background-color: #515151;
  }
  #content .section-d #carouselExampleInterval-s .productss .col-12 .thumbnail .cover ul li a {
    color: white;
  }
  #content .section-d #carouselExampleInterval-s .productss .col-12 .col-12-info {
    margin-top: 10px;
  }
  #content .section-d #carouselExampleInterval-s .productss .col-12 .col-12-info h6 {
    margin-left: 20px;
    font-weight: 800;
    color: #494949;
  }
  #content .section-d #carouselExampleInterval-s .productss .col-12 .col-12-info p {
    margin-left: 20px;
    margin-top: 2px;
    font-size: 12px;
    font-weight: 700;
    color: #a0a0a0;
  }
  #content .section-d #carouselExampleInterval-s .productss .col-12 .col-12-info .box-alto {
    position: absolute;
    padding: 17px 4px;
    background-color: #eee;
  }
  #content .section-d #carouselExampleInterval-s .productss .padding-right {
    padding-right: 0;
  }
  #content .section-d #carouselExampleInterval-s .carousel-control-prev .icon-chevron_left {
    color: #575757;
  }
  #content .section-d #carouselExampleInterval-s .carousel-control-next .icon-chevron_right {
    color: #575757;
  }
  #content .section-d #carousel-s {
    display: block;
  }
  #section-e {
    padding-bottom: 70px;
  }
  #section-e .container {
    padding: 20px 0;
  }
  #section-e h5 {
    text-align: center;
  }
  #section-e #carouselExampleIndicators {
    display: none;
  }
  #section-e #carousel-s {
    display: block;
  }
  #section-e #carousel-s img {
    width: 100%;
  }
  #section-e #carousel-s .carousel-item .col-5 {
    float: left;
    padding: 5px;
  }
  #section-e #carousel-s .carousel-item .col-7 {
    float: left;
    padding: 5px;
  }
  #section-e #carousel-s .carousel-item .col-12 {
    float: left;
    padding: 5px;
  }
  #section-e #carousel-s .icon-chevron_left {
    color: #575757;
  }
  #section-e #carousel-s .icon-chevron_right {
    color: #575757;
  }
  #footer .section-h .row-s .col-12 {
    padding: 0;
  }
  #footer .section-h .row-s .col-6 {
    max-width: 100%;
    padding: 45px 30px;
  }
  #footer .section-h .row-s .col-6 h2 {
    text-align: center;
  }
  #footer .section-h .row-s .col-6 h6 {
    text-align: center;
  }
  #footer .section-h .row-s .col-6 .p-padding {
    text-align: center;
  }
  #footer .section-h .row-s .col-6 .bottom {
    text-align: center;
  }
  #footer .section-h .row-s .col-6 .center {
    width: 160px;
    margin: 0 auto;
  }
  #footer .section-h .row-s .col-6 .center-p {
    text-align: center;
  }
  #footer .section-h .row-s .col-6-left {
    padding: 20px 30px;
  }
  #footer .section-h .row-s .col-4 {
    max-width: 100%;
    padding: 20px 30px;
  }
  #footer .section-h .row-s .col-4 h2 {
    text-align: center;
  }
  #footer .section-h .row-s .col-4 h6 {
    text-align: center;
  }
  #footer .section-h .row-s .col-4 .p-padding {
    text-align: center;
  }
  #footer .section-h .row-s .col-4 .bottom {
    text-align: center;
  }
  #footer .section-h .row-s .col-4 .center {
    padding: 0 64px;
  }
  #footer .section-h .row-s .col-4 .center-p {
    text-align: center;
  }
  #footer .section-h .row-s .col-4-left {
    padding: 20px 30px;
  }
  #footer .section-h .row-s .col-6-bottom {
    padding-bottom: 20px;
  }
  .copyright ul {
    float: none;
    width: 190px;
    padding-bottom: 20px;
    margin: 0 auto;
  }
  .copyright .title {
    float: none;
    width: 190px;
    padding: 13px 0;
    margin: 0 auto;
  }
}
