* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.clearfix:after,
.row:after {
  content: "";
  display: table;
  clear: both;
}
.container {
  display: block;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}
.col-4,
.col-6,
.col-12 {
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h1 {
  font-size: 4em;
}
p {
  margin: 0;
}
hr {
  margin: 0;
}
/* all */
.sundance {
  color: #c8a760;
}
.alto {
  color: #d6d6d6;
}
.SectionCFlex {
  display: flex;
  flex-direction: row;
}
.SectionCItem {
  flex: 1;
  margin-right: 25px;
}
.SectionCItem p {
  padding-left: 25px;
  font-weight: 600;
  line-height: 2;
  color: #747474;
}
.SectionCItem .SectionCP {
  padding-top: 30px;
}
.SectionCItem .pric_bk {
  padding-left: 17px;
  font-size: 22px;
  font-weight: 700;
  color: black;
}
.DivMarginRight {
  margin: 0;
}
.DivMarginRight-md {
  margin: 0;
}
.carousel-button {
  position: absolute;
  width: 80px;
  height: 41px;
  top: -55px;
  left: 92%;
  border-radius: 35px;
  background-color: #eeeeee;
}
.carousel-control-prev {
  display: inline;
  top: 24%;
  left: 8%;
  opacity: 1.5;
}
.carousel-control-prev .icon-angle_left {
  padding: 7px 5px;
  border-radius: 50%;
  color: #bebebe;
  background-color: #ffffff;
}
.carousel-control-next {
  display: inline;
  top: 23%;
  right: 30%;
  opacity: 1.5;
}
.carousel-control-next .icon-angle_right {
  padding: 7px 5px;
  border-radius: 50%;
  color: #bebebe;
  background-color: #ffffff;
}
/* header */
#header {
  background-color: #282828;
}
#header .col-6 {
  float: left;
}
#header .col-6 li {
  float: left;
  padding: 0 15px;
  line-height: 55px;
}
#header .col-6 li i {
  color: #a1a1a1;
}
#header .col-6 li a {
  font-size: 12px;
  color: #a1a1a1;
}
#header .col-6 li:hover {
  background-color: #3f3e43;
}
#header .float_right {
  float: right;
}
.navbar {
  margin: 20px auto;
}
.navbar .navbar-brand {
  margin-right: 100px;
}
.navbar .navbar-nav {
  width: 100%;
}
.navbar .navbar-nav li {
  margin: 0 8px;
}
.navbar .navbar-nav .margin-r {
  margin: 0 20px;
}
.navbar .nav-flex {
  display: flex;
  flex-direction: row;
}
.navbar .nav-flex .nav-item {
  flex: 1;
  margin: 5px;
  display: flex;
  justify-content: flex-end;
}
.navbar .nav-flex .nav-grow {
  flex-grow: 2;
  flex-shrink: 1;
  flex-basis: 24%;
}
.navbar #header_right {
  position: relative;
}
.navbar #header_right .icon-search {
  position: absolute;
  top: 0;
  font-size: 22px;
}
.navbar #header_right .basket .icon-shopping-basket {
  position: absolute;
  top: 0;
  font-size: 22px;
}
.navbar #header_right .basket .title h6 {
  font-size: 15px;
  font-weight: 600;
}
.navbar #header_right .basket .title p {
  font-size: 10px;
  font-weight: 600;
}
.header .flex-container {
  display: flex;
  flex-direction: row;
}
.header .header_item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.header .header_item #nav li {
  float: left;
}
.header .header_item #nav li a {
  color: #313131;
  font-weight: 600;
}
.header .header_item2 {
  flex-grow: 2;
  flex-shrink: 1;
  flex-basis: 0%;
}
.section-k {
  display: none;
}
#nav li {
  padding: 0 15px;
  line-height: 6;
}
#header_right .icon-search {
  left: -72px;
}
#header_right .basket .icon-shopping-basket {
  left: -42px;
}
/* content */
#content .flex-item {
  display: flex;
  flex-wrap: wrap;
}
#content .flex-item .col-4 {
  max-width: 100%;
  flex: 0 0 23%;
  margin: 5px;
  justify-content: center;
  align-items: center;
  color: #929292;
}
#content .flex-item .col-4 .title {
  padding-top: 200px;
}
#content .flex-item .col-4 .title h1 span {
  font-weight: 800;
}
#content .flex-item .col-4 .white h1 {
  color: white;
}
#content .flex-item .col-4 .white h1 span {
  font-weight: 800;
}
#content .flex-item .col-4 .white h6 {
  padding: 5px 7px;
  width: 310px;
  background-color: hsla(0, 0%, 42%, 0.4);
}
#content .flex-item .col-4 .emperorr {
  color: #535353;
}
#content .flex-item .col-4 p {
  color: white;
}
#content .flex-item .col-4 .p-width {
  width: 400px;
}
#content .flex-item .col-4 .price {
  font-size: 35px;
  font-weight: 600;
  color: white;
}
#content .flex-item .col-4 .pric_red {
  padding-top: 75px;
  font-size: 27px;
  font-weight: 600;
  color: #991015;
}
#content .flex-item .col-4 h4 {
  color: white;
  font-weight: 700;
}
#content .flex-item .col-4 .h4-padding {
  padding: 10px 0;
}
#content .flex-item .col-4 h6 {
  letter-spacing: 2px;
  font-weight: 600;
  color: white;
}
#content .flex-item .col-4 .product {
  display: flex;
  height: 49%;
  flex-direction: column;
  padding: 25px;
  margin-bottom: 11px;
  background-color: #f8f8f8;
}
#content .flex-item .col-4 .product .gray {
  padding-top: 7px;
  color: #939393;
}
#content .flex-item .col-4 .product .rhino {
  color: #2b3d66;
}
#content .flex-item .col-4 .product .discount {
  font-size: 27px;
  font-weight: 700;
}
#content .flex-item .col-4 .product .silver-chalice {
  color: #9f9f9f;
}
#content .flex-item .col-4 .product .button a {
  padding: 4px 7px;
  font-size: 13px;
  font-weight: 600;
  color: white;
  background-color: #2e2d32;
}
#content .flex-item .col-4 .product .bon {
  padding-top: 5px;
  font-weight: 600;
}
#content .flex-item .col-4 .product .icon-angle_right {
  font-size: 12px;
  margin-left: 15px;
  padding: 2px 1px;
  border: 1px solid #2b3d66;
  border-radius: 50%;
}
#content .flex-item .col-4 .product .padding-60 {
  padding-top: 65px;
}
#content .flex-item .col-4 .product-2 {
  display: flex;
  text-align: right;
  flex-direction: column;
  padding: 25px;
  margin-bottom: 11px;
  background-color: #c6e6a1;
}
#content .flex-item .col-4 .product-2 .f-s-10 {
  font-size: 12px;
  letter-spacing: 4px;
}
#content .flex-item .col-4 .product-2 .nobel {
  color: #b7b7b7;
}
#content .flex-item .col-4 .product-2 .spacing {
  letter-spacing: 3px;
}
#content .flex-item .col-4 .product-2 .f-s-12 {
  font-size: 17px;
}
#content .flex-item .col-4 .product-2 .l-h-30 {
  line-height: 30px;
}
#content .flex-item .col-4 .product-2 .emperor {
  color: #535353;
  letter-spacing: 2px;
}
#content .flex-item .col-4 .product-2 .alto {
  color: #d6d6d6;
}
#content .flex-item .col-4 .product-2 .silver-chalice {
  color: #9f9f9f;
}
#content .flex-item .col-4 .product-2 .button a {
  padding: 4px 7px;
  font-size: 13px;
  font-weight: 600;
  color: white;
  background-color: #2e2d32;
}
#content .flex-item .col-4 .product-2 .bon {
  padding-top: 65px;
  font-weight: 600;
  color: white;
}
#content .flex-item .col-4 .product-2 .bon-bottom {
  padding-top: 95px;
  font-weight: 600;
}
#content .flex-item .col-4 .product-2 .icon-angle_right {
  font-size: 12px;
  margin-left: 15px;
  padding: 2px 1px;
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  background-color: #b1de89;
}
#content .flex-item .col-4 .product-2 .dusty-gray {
  color: #979797;
  background-color: #f8f8f8;
}
#content .flex-item .col-4 .product-2 .dusty-gray-2 {
  border: 1px solid #979797;
}
#content .flex-item .col-4 .DivTextAlignRight {
  text-align: right;
}
#content .flex-item .col-4 .strike {
  text-decoration: line-through;
}
#content .flex-item .col-4 .div-height {
  height: 40%;
}
#content .flex-item .col-4 .div-height2 {
  height: 58%;
  text-align: right;
  background-color: #f8f8f8;
}
#content .flex-item .col-4 .DivTextAlignRight {
  text-align: right;
}
#content .flex-item .col-4 .col-4_flex-container {
  display: flex;
  height: 563px;
  padding: 10px;
  flex-direction: column;
}
#content .flex-item .col-4 .col-4_flex-container .col-4_flex-item {
  flex: 1;
  margin: 5px;
}
#content .flex-item .col-4 .col-4_flex-container .col-4_flex-item .padding-10 {
  padding: 20px 40px 20px 15px;
}
#content .flex-item .col-4 .col-4_flex-container .col-4_flex-item a {
  padding: 20px 20px;
  font-weight: 600;
  color: white;
}
#content .flex-item .col-4 .col-4_flex-container .col-4_flex-item .icon-angle_right {
  padding: 2px 1px;
  margin-left: 10px;
  border-radius: 50%;
  font-size: 12px;
  color: white;
  border: 1px solid white;
}
#content .flex-item .col-4 .col-4_flex-container .grow {
  display: flex;
  flex-grow: 2;
  flex-shrink: 1;
  flex-basis: 0%;
  justify-content: flex-end;
  align-items: center;
}
#content .flex-item .col-4 .col-4_flex-container .flex-array {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
#content .flex-item .col-4 .col-4_flex-container .mark-down {
  padding: 44px 15px;
  text-align: center;
  line-height: 25px;
  border-radius: 78px;
  background-color: #62c5de;
}
#content .flex-item .col-4 .col-4_flex-container .mark-down .discount {
  font-size: 27px;
}
#content .flex-item .col-4 #carouselExampleIndicators .carousel-indicators {
  justify-content: start;
  margin-left: 9%;
}
#content .flex-item .col-4 #carouselExampleIndicators .carousel-indicators li {
  height: 100%;
  margin: 0 -7px;
  border: none;
  text-indent: 0;
  background: none;
}
#content .flex-item .col-4 #carouselExampleIndicators .carousel-inner {
  height: 570px;
}
#content .flex-item .col-4 #carouselExampleIndicators .carousel-inner .title {
  padding: 100px 0 0 38px;
}
#content .flex-item .col-4 #carouselExampleIndicators .carousel-inner .item-img {
  height: 100%;
  background-image: url(https://dummyimage.com/765x579/c9c9c9/ababab);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
#content .flex-item .bg_none {
  background-color: white;
}
#content .flex-item .padding-50 {
  padding: 20px 47px 20px 80px;
}
#content .flex-item .tundora {
  background-color: #4c4c4c;
}
#content .flex-item .alabaster {
  background-color: #f8f8f8;
}
#content .flex-item .item {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
}
#content .nav ul {
  width: 100%;
}
#content .nav li {
  float: left;
  line-height: 5;
}
#content .nav li:after {
  content: "|";
  padding: 0 20px;
  color: #838182;
}
#content .nav li a {
  padding: 8px;
  font-weight: 700;
  color: #838182;
  transition: all 0.3s;
}
#content .nav li a:hover {
  color: #3a3a3a;
}
#content .nav .boundary-none:after {
  content: none;
}
#content .nav .pagination {
  float: right;
  padding: 3px 0;
}
#content .nav .pagination .nav {
  margin: 10px 0;
  padding: 0 3px;
  border-radius: 30px;
  background-color: #eee;
}
#content .nav .pagination .nav li {
  padding-left: 2px;
}
#content .nav .pagination .nav .page-link {
  padding: 10px;
  border-radius: 50%;
  line-height: 1;
  font-size: 10px;
}
#content .section-c li {
  float: left;
}
#content .section-c li img {
  width: 100%;
}
#content .section-c #carouselExampleIndicators-b li {
  padding: 0;
  color: #bebebe;
}
#content .section-c #carouselExampleIndicators-b .carousel-indicators {
  position: absolute;
  width: 73px;
  margin: 0;
  padding: 4px 2px;
  bottom: 106%;
  left: 91%;
  border-radius: 27px;
  background-color: #eeeeee;
}
#content .section-c #carouselExampleIndicators-b .carousel-indicators-li {
  width: 100%;
  height: 100%;
  padding: 4px;
  border-radius: 50%;
  border-top: none;
  border-bottom: none;
  text-indent: 0;
  opacity: 1;
  transition: none;
}
#content .section-c #carouselExampleIndicators-b .carousel-inner .SectionCItem .discount {
  position: relative;
}
#content .section-c #carouselExampleIndicators-b .carousel-inner .SectionCItem .discount p {
  position: absolute;
  font-size: 15px;
  font-weight: 700;
  color: white;
  background-color: #b2cc29;
}
#content .section-c #carouselExampleIndicators-c {
  display: none;
}
#content .section-c #carouselExampleIndicators-f {
  display: none;
}
#content .section-d .SectionUl {
  display: flex;
  flex-direction: row;
  padding: 70px 0;
}
#content .section-d .SectionUl .col-4 {
  max-width: 100%;
  justify-content: center;
  align-items: center;
}
#content .section-d .SectionUl .col-4 .product-2 {
  display: flex;
  flex-direction: column;
  padding: 25px;
  margin-bottom: 11px;
  background-color: #f8f8f8;
}
#content .section-d .SectionUl .col-4 .product-2:hover {
  background-color: #f1f1f1;
}
#content .section-d .SectionUl .col-4 .product-2 .nobel {
  color: #b7b7b7;
}
#content .section-d .SectionUl .col-4 .product-2 .spacing {
  letter-spacing: 3px;
}
#content .section-d .SectionUl .col-4 .product-2 .f-s-12 {
  font-size: 17px;
}
#content .section-d .SectionUl .col-4 .product-2 .l-h-30 {
  line-height: 30px;
}
#content .section-d .SectionUl .col-4 .product-2 .emperor {
  color: #535353;
  letter-spacing: 2px;
}
#content .section-d .SectionUl .col-4 .product-2 .bon-bottom {
  padding-top: 80px;
  font-weight: 600;
}
#content .section-d .SectionUl .col-4 .product-2 .icon-angle_right {
  font-size: 12px;
  margin-left: 15px;
  padding: 2px 1px;
  color: white;
  border: 1px solid white;
  border-radius: 50%;
}
#content .section-d .SectionUl .col-4 .product-2 .dusty-gray {
  color: #979797;
}
#content .section-d .SectionUl .col-4 .product-2 .dusty-gray-2 {
  border: 1px solid #979797;
}
#content .section-e {
  padding-bottom: 80px;
}
#content .section-e .title {
  padding-bottom: 35px;
  color: #3a3a3a;
}
#content .section-e .title h5 {
  font-weight: 700;
}
#content .section-e #carouselExampleIndicators-d {
  display: none;
}
#content .section-e #carouselExampleIndicators-g {
  display: none;
}
#content .section-e .carousel-indicators {
  position: absolute;
  width: 73px;
  margin: 0;
  padding: 4px 2px;
  bottom: 106%;
  left: 93%;
  border-radius: 27px;
  background-color: #eeeeee;
}
#content .section-e .carousel-indicators-li {
  width: 100%;
  height: 100%;
  padding: 4px;
  border-radius: 50%;
  border-top: none;
  border-bottom: none;
  text-indent: 0;
  opacity: 1;
  transition: none;
}
#content .section-e li {
  float: left;
  padding: 0;
  color: #bebebe;
}
#content .section-e li img {
  width: 100%;
}
#content .section-e .SectionCItem .discount {
  position: relative;
}
#content .section-e .SectionCItem .discount p {
  position: absolute;
  top: 18px;
  padding: 0 7px;
  font-size: 15px;
  font-weight: 700;
  color: white;
  background-color: black;
}
#content .section-e .SectionCItem .discountt {
  position: relative;
}
#content .section-e .SectionCItem .discountt p {
  position: absolute;
  top: 30px;
  padding: 0 7px;
  font-size: 15px;
  font-weight: 700;
  color: white;
  background-color: #b2cc29;
}
#content .section-e .SectionCItem .discounttt {
  position: relative;
}
#content .section-e .SectionCItem .discounttt p {
  position: absolute;
  top: 60px;
  padding: 0 7px;
  font-size: 15px;
  font-weight: 700;
  color: white;
  background-color: black;
}
#content .section-e .SectionCItem .pric-f-s {
  padding-left: 20px;
  font-size: 15px;
  font-weight: 700;
  color: black;
}
#content .section-e .SectionCItem .p-up {
  position: absolute;
  top: 190px;
  left: 25px;
}
#content .section-e .SectionCItem .thumbnail {
  position: relative;
  overflow: hidden;
}
#content .section-e .SectionCItem .thumbnail i {
  color: #a1a1a1;
}
#content .section-e .SectionCItem .thumbnail:after {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}
#content .section-e .SectionCItem .thumbnail .cover {
  position: absolute;
  opacity: 0;
  color: #fff;
  width: 100%;
  left: 0;
  overflow: hidden;
  transition: all 0.27s ease-in-out;
}
#content .section-e .SectionCItem .thumbnail .cover .btn-secondary {
  padding: 15px 10px;
  border-radius: 0;
  border: 1px solid #eeeeee;
  background-color: white;
}
#content .section-e .SectionCItem .thumbnail .cover .btn-group {
  width: 100%;
}
#content .section-e .SectionCItem .thumbnail .item-li-p {
  padding-left: 0;
  line-height: 0;
  font-size: 15px;
  font-weight: 500;
}
#content .section-e .SectionCItem:hover .cover {
  top: 87%;
  transform: translate(0, -50%);
  opacity: 1;
}
#content .section-e .SectionCItem .thumbnaill {
  position: relative;
  overflow: hidden;
}
#content .section-e .SectionCItem .thumbnaill i {
  color: #a1a1a1;
}
#content .section-e .SectionCItem .thumbnaill:after {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}
#content .section-e .SectionCItem .thumbnaill .coverr {
  position: absolute;
  text-align: center;
  width: 80%;
  color: #fff;
  margin: 0 22px;
  left: 0;
  opacity: 0;
  overflow: hidden;
  box-shadow: 1px 1px 10px #eee;
  transition: all 0.27s ease-in-out;
}
#content .section-e .SectionCItem .thumbnaill .coverr .btn-secondary-e {
  padding: 15px 10px;
  border-radius: 0;
  border: none;
  background-color: white;
}
#content .section-e .SectionCItem .thumbnaill .coverr .btn-group {
  width: 100%;
}
#content .section-e .SectionCItem .thumbnaill .item-li-p {
  padding-left: 0;
  line-height: 0;
  font-size: 15px;
  font-weight: 500;
}
#content .section-e .SectionCItem .thumbnaill .item-li-p:after {
  content: "|";
  padding-left: 15px;
  color: #8a8a8a;
}
#content .section-e .SectionCItem .thumbnaill .boundary-none:after {
  content: none;
}
#content .section-e .SectionCItem:hover .coverr {
  top: 75%;
  transform: translate(0, -50%);
  opacity: 1;
}
#content .section-f {
  padding-bottom: 80px;
}
#content .section-f .title {
  padding-bottom: 50px;
}
#content .section-f .title h5 {
  font-weight: 700;
  color: #3a3a3a;
}
#content .section-f .title span {
  font-size: 12px;
  letter-spacing: 2px;
  color: #a0a0a0;
}
#content .section-f .section-f-flex {
  display: flex;
  flex-direction: row;
}
#content .section-f .section-f-flex .section-f-item {
  flex: 0 0 16.7%;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.product {
  display: flex;
  height: 49%;
  flex-direction: column;
  padding: 25px;
  margin-bottom: 11px;
  background-color: #f8f8f8;
}
#carouselExampleIndicators .carousel-indicators {
  bottom: 0;
}
.SectionCItem .discount p {
  top: 50px;
  padding: 5px 15px;
}
/* footer */
#footer {
  background-color: #f6f6f6;
}
#footer .section-g {
  padding: 50px 0;
}
#footer .section-g .row .col-3 {
  position: relative;
}
#footer .section-g .row .col-3 .desc {
  padding-left: 53px;
  padding-top: 13px;
  color: #353535;
}
#footer .section-g .row .col-3 .desc h6 {
  font-weight: 700;
}
#footer .section-g .row .col-3 .desc p {
  font-size: 12px;
}
#footer .section-g .row .col-3 i {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 45px;
  color: #838182;
}
#footer hr {
  color: #e0e0e0;
}
#footer .section-h {
  padding: 50px 0;
}
#footer .section-h .row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
#footer .section-h .row .col-5 {
  flex: 0 0 15%;
  max-width: 100%;
  margin: 5px;
  justify-content: center;
  align-items: center;
}
#footer .section-h .row .col-5 a {
  font-weight: 600;
  color: #868686;
  transition: all 0.27s;
}
#footer .section-h .row .col-5 a:hover {
  color: #8abbc1;
}
#footer .section-h .row .col-5 h2 {
  font-weight: 800;
  font-size: 35px;
  color: #7f7f7f;
}
#footer .section-h .row .col-5 h6 {
  padding: 18px 0;
  font-weight: 700;
  color: #575757;
}
#footer .section-h .row .col-5 p {
  padding: 20px 0;
  font-size: 12px;
  color: #868686;
}
#footer .section-h .row .col-5 li {
  padding: 7px 0;
}
#footer .section-h .row .col-5 .contact_info {
  padding: 0 31px;
}
#footer .section-h .row .col-5 .contact_info a {
  color: #a0a0a0;
}
#footer .section-h .row .col-5 .icon-location-ul {
  position: relative;
}
#footer .section-h .row .col-5 .icon-location-ul .li-bottom {
  padding-bottom: 20px;
}
#footer .section-h .row .col-5 .icon-location-ul li {
  padding: 0;
}
#footer .section-h .row .col-5 .icon-location-ul i {
  position: absolute;
  color: #a0a0a0;
}
#footer .section-h .row .col-5 .title-right {
  text-align: right;
}
#footer .section-h .row .col-5 .progress {
  position: relative;
  width: 100%;
  height: 45px;
  margin-top: 20px;
  border-radius: 40px;
  background-color: #696969;
}
#footer .section-h .row .col-5 .progress .progress-p {
  position: absolute;
  left: 25px;
  padding: 15px 0;
  font-weight: 600;
  color: #696969;
}
#footer .section-h .row .col-5 .progress .progress-bar {
  background-color: white;
}
#footer .section-h .row .col-5 .progress .progress-bar .progress-bar-p {
  position: absolute;
  font-weight: 600;
  color: white;
}
#footer .section-h .row .col-5 .social-media .title-top {
  padding-top: 45px;
}
#footer .section-h .row .col-5 .social-media ul {
  float: right;
}
#footer .section-h .row .col-5 .social-media li {
  float: left;
}
#footer .section-h .row .col-5-l {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 60%;
}
#footer .section-i {
  display: none;
  padding: 50px 0;
}
#footer .section-i .row .col-5 {
  flex: none;
  max-width: 100%;
  width: 44%;
  margin: 35px 20px;
}
#footer .section-i .row .col-5 a {
  font-weight: 600;
  color: #868686;
  transition: all 0.27s;
}
#footer .section-i .row .col-5 a:hover {
  color: #8abbc1;
}
#footer .section-i .row .col-5 h2 {
  font-weight: 800;
  font-size: 35px;
  color: #7f7f7f;
}
#footer .section-i .row .col-5 h6 {
  padding: 18px 0;
  font-weight: 700;
  color: #575757;
}
#footer .section-i .row .col-5 p {
  padding: 20px 0;
  font-size: 12px;
  color: #868686;
}
#footer .section-i .row .col-5 li {
  padding: 7px 0;
}
#footer .section-i .row .col-5 .contact_info {
  padding: 0 31px;
}
#footer .section-i .row .col-5 .contact_info a {
  color: #a0a0a0;
}
#footer .section-i .row .col-5 .icon-location-ul {
  position: relative;
}
#footer .section-i .row .col-5 .icon-location-ul .li-bottom {
  padding-bottom: 20px;
}
#footer .section-i .row .col-5 .icon-location-ul li {
  padding: 0;
}
#footer .section-i .row .col-5 .icon-location-ul i {
  position: absolute;
  color: #a0a0a0;
}
#footer .section-i .row .col-5 .progress {
  position: relative;
  width: 100%;
  height: 45px;
  margin-top: 20px;
  border-radius: 40px;
  background-color: #696969;
}
#footer .section-i .row .col-5 .progress .progress-p {
  position: absolute;
  left: 25px;
  padding: 15px 0;
  font-weight: 600;
  color: #696969;
}
#footer .section-i .row .col-5 .progress .progress-bar {
  background-color: white;
}
#footer .section-i .row .col-5 .progress .progress-bar .progress-bar-p {
  position: absolute;
  font-weight: 600;
  color: white;
}
#footer .section-i .row .col-5 .social-media .title-top {
  padding-top: 45px;
}
#footer .section-i .row .col-5 .social-media li {
  float: left;
}
#footer .section-h .row .col-5 .social-media li {
  padding-left: 10px;
}
.progress .progress-bar .progress-bar-p {
  right: 20px;
}
.progress .w-75 {
  width: 65%!important;
}
/* copyright */
.copyright .container {
  padding: 25px 0;
}
.copyright .container .title {
  float: left;
}
.copyright .container .title p {
  font-size: 13px;
  color: #868686;
}
.copyright .container .title p a {
  font-size: 15px;
  font-weight: 700;
  color: black;
}
.copyright .container ul {
  float: right;
}
.copyright .container ul li {
  float: left;
  padding-left: 20px;
}
/* rwd 1700X1600 */
@media (min-width: 1200px) {
  .container {
    max-width: 100%;
  }
}
/* rwd 1000X768 */
@media (max-width: 1000px) {
  .container {
    width: 750px;
  }
  #header .col-6 ul li {
    font-size: 25px;
    line-height: 2;
  }
  .header #header_right {
    left: 29px;
  }
  .header #header_right .icon-search {
    left: -65px;
  }
  .header #header_right .basket .icon-shopping-basket {
    left: -35px;
  }
  .section-j {
    display: none;
  }
  .section-k {
    display: block;
  }
  .section-k .navbar .navbar-nav .margin-r {
    margin: 10px 80px;
  }
  #content .carousel-button {
    left: 89%;
  }
  #content .section #carouselExampleIndicators .carousel-indicators {
    bottom: 0;
  }
  #content .section #carouselExampleIndicators .carousel-inner img {
    padding: 0;
  }
  #content .section-c #carouselExampleIndicators-c {
    display: block;
  }
  #content .section-c #carouselExampleIndicators-c li {
    padding: 0;
    color: #bebebe;
  }
  #content .section-c #carouselExampleIndicators-c .carousel-indicators {
    position: absolute;
    width: 73px;
    margin: 0;
    padding: 4px 2px;
    bottom: 106%;
    left: 91%;
    border-radius: 27px;
    background-color: #eeeeee;
  }
  #content .section-c #carouselExampleIndicators-c .carousel-indicators-li {
    width: 100%;
    height: 100%;
    padding: 4px;
    border-radius: 50%;
    border-top: none;
    border-bottom: none;
    text-indent: 0;
    opacity: 1;
    transition: none;
  }
  #content .section-c #carouselExampleIndicators-c .carousel-inner .SectionCItem .discount {
    position: relative;
  }
  #content .section-c #carouselExampleIndicators-c .carousel-inner .SectionCItem .discount p {
    position: absolute;
    font-size: 20px;
    font-weight: 700;
    color: white;
    background-color: #b2cc29;
  }
  #content .section-c #carouselExampleIndicators-b {
    display: none;
  }
  #content .section-c .discount p {
    top: 40px;
    padding: 5px 15px;
  }
  #content .section-d .SectionUl .col-4 .product-2 {
    padding: 22px;
  }
  #content .section-d .SectionUl .col-4 .l-h-30 {
    font-size: 1.2rem;
  }
  #content .section-e #carouselExampleIndicators-d {
    display: block;
  }
  #content .section-e #carouselExampleIndicators-d .size {
    height: 400px;
  }
  #content .section-e #carouselExampleIndicators-e {
    display: none;
  }
  #content .section-e .carousel-indicators {
    left: 91%;
  }
  #content .section-e .carousel-inner .SectionCItem .discount p {
    top: 40px;
    padding: 0 10px;
    font-size: 20px;
  }
  #content .section-e .carousel-inner .SectionCItem .discount .p-up {
    top: 320px;
  }
  #content .section-e .carousel-inner .SectionCItem .discountt p {
    top: 25px;
    font-size: 17px;
  }
  #content .section-e .carousel-inner .SectionCItem .discounttt p {
    top: 59px;
    padding: 0 5px;
    font-size: 15px;
  }
  #content .section-e .carousel-inner .SectionCItem .thumbnail .cover {
    top: 90%;
  }
  #content .section-e .carousel-inner .SectionCItem .thumbnail .cover .btn-secondary {
    padding: 23px 10px;
  }
  #content .section-e .carousel-inner .SectionCItem .thumbnail .cover .item-li-p {
    line-height: 1;
    font-size: 14px;
  }
  #content .section-e .carousel-inner .SectionCItem .thumbnaill .coverr {
    margin: 0 25px;
  }
  #content .section-e .carousel-inner .SectionCItem .thumbnaill .coverr .btn-secondary-e {
    padding: 15px 2px;
  }
  #content .section-e .carousel-inner .SectionCItem .thumbnaill .coverr .btn-secondary-e .item-li-p:after {
    padding-left: 18px;
  }
  #content .section-f .section-f-flex {
    display: block;
    width: 69%;
    margin: 0 auto;
  }
  #content .section-f .section-f-flex li {
    float: left;
    padding: 29px 65px;
  }
  #footer .section-g .row {
    width: 600px;
    margin: 0 auto;
  }
  #footer .section-g .row .col-3 {
    flex: 0 0 50%;
    max-width: 100%;
    margin: 20px 0;
  }
  #footer .section-h {
    display: none;
  }
  #footer .section-h .row .col-5 .progress .w-75 {
    width: 60%!important;
  }
  #footer .section-h .row .col-5 .progress .w-75 .progress-bar-p {
    right: 6px;
  }
  #footer .section-h .row .col-5 .social-media li {
    padding-left: 7px;
  }
  #footer .section-i {
    display: block;
  }
}
/* rwd 700X350 */
@media (max-width: 700px) {
  .container {
    width: 410px;
  }
  #header {
    display: none;
  }
  #header .col-6 {
    float: none;
    flex: none;
    max-width: 80%;
    margin: 0 auto;
  }
  #header .col-6 li {
    padding: 0 25px;
  }
  #header .col-6 .float_right {
    float: none;
  }
  #header .col-6 .block-right {
    padding: 0 7px 0 0;
  }
  .header .flex-container {
    flex-direction: column;
  }
  .header .flex-container .header_item {
    padding: 15px 0;
  }
  .header .flex-container .header_item #logo {
    padding-top: 50px;
  }
  .header .flex-container .header_item #nav {
    margin: 0 auto;
    width: 270px;
  }
  .header .flex-container .header_item #nav li {
    line-height: 3;
  }
  .header .flex-container .header_item #header_right .icon-search {
    left: -75px;
  }
  .header .flex-container .header_item #header_right .icon-shopping-basket {
    left: -40px;
  }
  #header-sm-dark .row .contact_info ul {
    left: 0;
  }
  #header-sm-dark .row li {
    float: none;
    line-height: 1;
  }
  #header-sm-dark .row .nav ul {
    width: 100%;
    left: 0;
  }
  #header-sm-dark .row .nav ul .nav-li {
    width: 150px;
    margin: 0 auto;
    padding: 22px 20px;
  }
  #header-sm-dark .row .nav ul .nav-li .item {
    left: 25px;
  }
  .section-j {
    display: none;
  }
  .section-k {
    display: block;
  }
  #content .carousel-button {
    left: 80%;
  }
  #content .section .padding-50 {
    padding: 70px 30px;
  }
  #content .section .col-4 .title {
    padding-top: 50px;
  }
  #content .section .col-4 .white h6 {
    width: 100%;
    font-size: 13px;
  }
  #content .section .col-4 .p-width {
    width: 100%;
  }
  #content .section .col-4 .col-4_flex-container {
    width: 400px;
  }
  #content .section .col-4 .product {
    width: 400px;
  }
  #content .section .col-4 .product-2 {
    width: 400px;
  }
  #content .section .col-4 .product-2 .bon-bottom {
    padding-top: 155px;
    padding-bottom: 20px;
  }
  #content .section .col-4 #carouselExampleIndicators {
    width: 400px;
  }
  #content .section .col-4 #carouselExampleIndicators .carousel-inner .title {
    padding: 100px 30px;
  }
  #content .section .col-4 #carouselExampleIndicators .carousel-inner .title h1 {
    font-size: 37px;
    padding: 10px 0;
  }
  #content .section .col-4 #carouselExampleIndicators .carousel-inner .title h6 {
    width: 100%;
    font-size: 13px;
  }
  #content .nav li:after {
    padding: 0 6px;
  }
  #content .nav .pagination {
    float: left;
  }
  #content .nav .pagination .nav {
    margin: 15px 116px;
  }
  #content .section-c #carouselExampleIndicators-c {
    display: none;
  }
  #content .section-c #carouselExampleIndicators-f {
    display: block;
  }
  #content .section-c #carouselExampleIndicators-f li {
    padding: 0;
    color: #bebebe;
  }
  #content .section-c #carouselExampleIndicators-f .carousel-indicators {
    position: absolute;
    width: 73px;
    margin: 0;
    padding: 4px 2px;
    bottom: 104%;
    left: 82%;
    border-radius: 27px;
    background-color: #eeeeee;
  }
  #content .section-c #carouselExampleIndicators-f .carousel-indicators-li {
    width: 100%;
    height: 100%;
    padding: 4px;
    border-radius: 50%;
    border-top: none;
    border-bottom: none;
    text-indent: 0;
    opacity: 1;
    transition: none;
  }
  #content .section-c #carouselExampleIndicators-f .carousel-inner .SectionCItem {
    margin: 0;
  }
  #content .section-c #carouselExampleIndicators-f .carousel-inner .SectionCItem .discount {
    position: relative;
  }
  #content .section-c #carouselExampleIndicators-f .carousel-inner .SectionCItem .discount p {
    top: 50px;
    position: absolute;
    padding: 5px 15px;
    font-size: 15px;
    font-weight: 700;
    color: white;
    background-color: #b2cc29;
  }
  #content .section-d .SectionUl {
    flex-direction: column;
  }
  #content .section-d .SectionUl .col-4 .product-2 {
    margin: 0;
  }
  #content .section-e .title {
    padding-bottom: 27px;
  }
  #content .section-e #carouselExampleIndicators-d {
    display: none;
  }
  #content .section-e #carouselExampleIndicators-e {
    display: none;
  }
  #content .section-e #carouselExampleIndicators-e .carousel-indicators {
    left: 77%;
    bottom: 101%;
  }
  #content .section-e #carouselExampleIndicators-e .carousel-inner .SectionCFlex {
    flex-direction: column;
  }
  #content .section-e #carouselExampleIndicators-e .carousel-inner .SectionCFlex .SectionCItem {
    margin: 15px 0;
  }
  #content .section-e #carouselExampleIndicators-e .carousel-inner .SectionCFlex .SectionCItem .discount p {
    top: 41px;
    padding: 2px 14px;
    font-size: 20px;
  }
  #content .section-e #carouselExampleIndicators-e .carousel-inner .SectionCFlex .SectionCItem .discount .p-up {
    top: 280px;
  }
  #content .section-e #carouselExampleIndicators-e .carousel-inner .SectionCFlex .SectionCItem .discountt p {
    top: 41px;
    padding: 0 14px;
    font-size: 20px;
  }
  #content .section-e #carouselExampleIndicators-e .carousel-inner .SectionCFlex .SectionCItem .discounttt p {
    top: 81px;
    padding: 0 9px;
    font-size: 20px;
  }
  #content .section-e #carouselExampleIndicators-e .carousel-inner .SectionCFlex .SectionCItem .thumbnail .cover {
    top: 89%;
  }
  #content .section-e #carouselExampleIndicators-e .carousel-inner .SectionCFlex .SectionCItem .thumbnail .cover .btn-secondary {
    padding: 22px 10px;
  }
  #content .section-e #carouselExampleIndicators-e .carousel-inner .SectionCFlex .SectionCItem .thumbnaill .coverr {
    margin: 0 32px;
  }
  #content .section-e #carouselExampleIndicators-e .carousel-inner .SectionCFlex .SectionCItem .thumbnaill .coverr .btn-secondary-e {
    padding: 27px 20px;
  }
  #content .section-e #carouselExampleIndicators-e .carousel-inner .SectionCFlex .SectionCItem .thumbnaill .coverr .item-li-p:after {
    padding-left: 30px;
  }
  #content .section-e #carouselExampleIndicators-g {
    display: block;
  }
  #content .section-e #carouselExampleIndicators-g .carousel-indicators {
    left: 82%;
    bottom: 105%;
  }
  #content .section-e #carouselExampleIndicators-g .carousel-inner .SectionCItem .discountt p {
    top: 30px;
    font-size: 25px;
  }
  #content .section-e #carouselExampleIndicators-g .carousel-inner .SectionCItem .discounttt p {
    top: 80px;
    padding: 0 14px;
    font-size: 20px;
  }
  #content .section-e #carouselExampleIndicators-g .carousel-inner li {
    margin: 0;
  }
  #content .section-f .title {
    text-align: center;
  }
  #content .section-f .section-f-flex {
    display: flex;
    flex-direction: column;
  }
  #content .section-f .section-f-flex .section-f-item {
    padding: 20px 0;
  }
  #footer .section-g .row {
    width: 100%;
    flex-direction: column;
  }
  #footer .section-g .row .col-3 {
    flex: 0 0 0%;
    max-width: 100%;
    width: 250px;
    margin: 15px auto;
  }
  #footer .section-h .row {
    flex-direction: column;
  }
  #footer .section-h .row .col-5 {
    padding-top: 20px;
  }
  #footer .section-h .row .col-5 .progress .w-75 .progress-bar-p {
    right: 20px;
  }
  #footer .section-i .row .col-5 {
    width: 80%;
  }
  .copyright .container {
    width: 300px;
    margin: 0 auto;
  }
  .copyright .container .title {
    width: 200px;
    margin: 0 50px;
    padding-bottom: 10px;
  }
  .copyright .container ul {
    float: left;
  }
  .copyright .container ul li {
    padding-left: 0;
    padding-right: 14px;
  }
}
/* hamburger-menu */
* {
  margin: 0;
  padding: 0;
}
#nav-icon4 {
  width: 40px;
  height: 20px;
  position: relative;
  margin: 10px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
#nav-icon4 span {
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background: #444;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
#nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#nav-icon4 span:nth-child(2) {
  top: 13px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#nav-icon4 span:nth-child(3) {
  top: 26px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -4px;
  left: 8px;
}
#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 25px;
  left: 7px;
}
