* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.clearfix:after,
.row:after {
  content: "";
  display: table;
  clear: both;
}
.container {
  display: block;
  width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
}
.col-2,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-12 {
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h1 {
  font-size: 4em;
}
p {
  margin: 0;
}
hr {
  margin: 0;
}
/* all */
/* header */
#header {
  margin: 0 auto;
  padding: 7px 30px;
}
#header .section-a .block-left {
  float: left;
  width: 39%;
}
#header .section-a .block-left li {
  float: left;
  padding-right: 10%;
}
#header .section-a .navbar {
  padding: 22px;
  background-color: white;
}
#header .section-a .navbar .logo li {
  float: left;
}
#header .section-a .navbar .logo .phone-padding {
  float: left;
  padding: 15px 22px;
  font-weight: 700;
}
#header .section-a .navbar .logo .phone-padding a {
  color: #4b4b4b;
}
#header .section-a .navbar .navbar-nav {
  margin-left: auto;
}
#header .section-a .navbar .navbar-toggler {
  border: none;
  outline: none;
}
#header .section-a .navbar .nav-item .nav-link {
  padding: 0.8rem 1rem;
}
#header .section-a .navbar .nav-item .nav-item-search li {
  position: relative;
  float: left;
}
#header .section-a .navbar .nav-item .nav-item-search li a {
  padding: 0 8px;
  font-size: 30px;
  color: #535353;
  background: none;
  border: none;
  box-shadow: none;
}
#header .section-a .navbar .nav-item .nav-item-search li .amount {
  position: absolute;
  top: 21px;
  left: 33px;
  padding: 2px 7px;
  font-size: 13px;
  font-weight: 700;
  border: 3px solid white;
  border-radius: 50%;
  color: white;
  background-color: #535353;
}
#header .section-a .navbar .nav-item .nav-item-search li .card {
  position: absolute;
  width: 80vw;
  top: 60px;
  right: 0;
  z-index: 1;
}
#header .section-a .navbar .nav-item .nav-item-search li .card .search {
  height: 500px;
  padding: 0 10px;
  background-color: #f6f6f6;
}
#header .section-a .navbar .nav-item .nav-item-search li .card .search .container {
  width: 100%;
}
#header .section-a .navbar .nav-item .nav-item-search li .card .search .form-inline {
  width: 100%;
  margin: 0 auto;
  padding: 100px 250px;
}
#header .section-a .navbar .nav-item .nav-item-search li .card .search .form-inline .form-control {
  width: 50%;
  height: calc(2em + 0.75rem + 2px);
  padding: 5px 26px;
  border: none;
  border-radius: 0;
  color: #bdbdbd;
  background: none;
}
#header .section-a .navbar .nav-item .nav-item-search li .card .search .form-inline .form-control:focus {
  outline: none;
  box-shadow: none;
}
#header .section-a .navbar .nav-item .nav-item-search li .card .search .form-inline ::placeholder {
  font-size: 20px;
  color: #bdbdbd;
}
#header .section-a .navbar .nav-item .nav-item-search li .card .search .form-inline .mr-sm-2 {
  margin-right: 0 !important;
}
#header .section-a .navbar .nav-item .nav-item-search li .card .search .form-inline .line-left {
  border-left: 1px solid #bdbdbd;
}
#header .section-a .navbar .nav-item .nav-item-search li .card .search .btn {
  padding: 0;
  border: none;
}
#header .section-a .navbar .nav-item .nav-item-search li .card .search .btn i {
  font-size: 25px;
  color: #bdbdbd;
}
#header .section-a .navbar .nav-item .nav-item-search li .card .search .btn:hover {
  background: none;
}
#header .section-a .navbar .nav-item .nav-item-search li .card .search .btn-outline-success:focus {
  outline: none;
  box-shadow: none;
}
#header .section-a .navbar .nav-item .nav-item-search li .card .search .button-bottom {
  width: 35px;
  margin: 0 auto;
}
.header {
  padding: 50px 0;
  text-align: center;
  background-image: url(../images/img-header.jpg);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
.header h2 {
  font-size: 45px;
  font-weight: 700;
  padding: 15px 0;
  color: #494949;
}
.header p {
  padding: 10px 0;
  color: #494949;
}
/* content */
#content .container .section-a .col-6 {
  float: left;
  padding: 0 55px;
}
#content .container .section-a .col-6 .title h4 {
  padding-bottom: 24px;
  font-weight: 700;
  color: #383838;
}
#content .container .section-a .col-6 .title p {
  padding-bottom: 80px;
}
#content .container .section-a .col-6 ul li {
  float: left;
  width: 33%;
  padding: 0 7px;
  font-size: 12px;
}
#content .container .section-a .col-6 ul li h6 {
  font-weight: 700;
  color: #383838;
}
#content .container .section-a .col-6 ul li p {
  padding-top: 14px;
  line-height: 2;
}
#content .container .section-a .col-6 ul li a {
  color: #383838;
}
#content .container .section-a .col-6 .contact-form {
  padding: 0 50px;
}
#content .container .section-a .col-6 .row {
  margin-right: 0;
  margin-left: 0;
}
#content .container .section-a .col-6 .row .col-12 {
  padding-bottom: 7px;
  font-size: 12px;
}
#content .container .section-a .col-6 .row .col-12 input {
  width: 90%;
  padding: 8px 20px;
  line-height: 2;
  border: 1px solid #c0c0c0;
  border-radius: 1.25rem;
}
#content .container .section-a .col-6 .row .col-12 ::placeholder {
  color: black;
}
#content .container .section-a .col-6 .row .col-12 textarea {
  width: 90%;
  padding: 8px 20px;
  line-height: 3;
  border: 1px solid #c0c0c0;
  border-radius: 1.25rem;
}
#content .container .section-a .col-6 .row .col-12 .button {
  padding: 13px 20px;
  border: none;
  border-radius: 2rem;
  color: white;
  background-color: #383838;
}
#content .container .section-a .col-6 .h6-padding {
  padding: 26px 55px;
  font-weight: 700;
  color: #383838;
}
.section-a-s {
  display: none;
}
.section-a-s .col-12 {
  float: left;
  padding: 0 0 100px;
}
.section-a-s .col-12 .title h4 {
  padding-bottom: 24px;
  color: #383838;
}
.section-a-s .col-12 .title p {
  padding-bottom: 80px;
}
.section-a-s .col-12 ul {
  padding: 0 34px;
}
.section-a-s .col-12 ul li {
  float: left;
  width: 33%;
  padding-left: 40px;
  font-size: 12px;
}
.section-a-s .col-12 ul li h6 {
  font-weight: 700;
  color: #383838;
}
.section-a-s .col-12 ul li p {
  padding-top: 14px;
  line-height: 2;
}
.section-a-s .col-12 ul li a {
  color: #383838;
}
.section-a-s .col-12 .contact-form {
  padding: 0 50px;
}
.section-a-s .col-12 .row {
  margin-right: 0;
  margin-left: 0;
}
.section-a-s .col-12 .row .col-12 {
  padding-bottom: 7px;
  font-size: 12px;
}
.section-a-s .col-12 .row .col-12 input {
  width: 90%;
  padding: 8px 20px;
  line-height: 2;
  border: 1px solid #c0c0c0;
  border-radius: 1.25rem;
}
.section-a-s .col-12 .row .col-12 textarea {
  width: 90%;
  padding: 8px 20px;
  line-height: 3;
  border: 1px solid #c0c0c0;
  border-radius: 1.25rem;
}
.section-a-s .col-12 .row .col-12 .button {
  padding: 13px 20px;
  border: none;
  border-radius: 2rem;
  color: white;
  background-color: #383838;
}
.section-a-s .col-12 .h6-padding {
  padding: 26px 55px;
  font-weight: 700;
  color: #383838;
}
/* footer */
#footer {
  padding-top: 50px;
}
#footer .row {
  margin-right: 0;
  margin-left: 0;
}
#footer a {
  font-size: 13px;
  color: #7f7f7f;
  transition: all 0.27s;
}
#footer a:hover {
  color: #f29898;
}
#footer .section-h p {
  padding: 18px 0;
  font-size: 13px;
  color: #7f7f7f;
}
#footer .section-h .col-5 {
  position: relative;
  float: left;
  max-width: 28%;
  flex: 10%;
  color: #a0a0a0;
}
#footer .section-h .col-5 h2 {
  color: black;
  font-weight: 800;
}
#footer .section-h .col-5 h6 {
  padding-bottom: 35px;
  font-weight: 700;
  color: black;
}
#footer .section-h .col-5 .icon-location-ul i {
  position: absolute;
}
#footer .section-h .col-5 .contact_info {
  padding: 0;
  padding-left: 35px;
  padding-bottom: 5px;
}
#footer .section-h .col-5 .bottom li {
  padding-bottom: 20px;
}
#footer .section-h .col-5 .social-media {
  float: right;
}
#footer .section-h .col-5 .social-media h6 {
  text-align: right;
  padding-bottom: 18px;
}
#footer .section-h .col-5 .social-media li {
  float: left;
  padding-left: 7px;
}
#footer .section-h .col-5 .title-right {
  float: right;
}
#footer .section-h .col-5 .input-group {
  width: 100%;
  padding: 0.5rem 1.6rem;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 1.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
#footer .section-h .col-5 .input-group .form-control-2 {
  display: block;
  width: 90%;
  border: none;
  outline: none;
  color: #767c82;
  background: none;
}
#footer .section-h .col-5 .mb-3 {
  margin-bottom: 2rem!important;
}
#footer .section-h .col-5 .p-padding {
  float: right;
  text-align: right;
  padding: 0 0 29px;
}
#footer .section-h .col-5-l {
  flex-grow: 3;
  flex-basis: 6%;
}
#footer .section-h .right {
  text-align: right;
}
#footer .section-h .right ul {
  padding-top: 70px;
}
#footer .section-h .row-s {
  display: none;
}
#footer .section-h .row-s .col-3 {
  position: relative;
  float: left;
  color: #a0a0a0;
}
#footer .section-h .row-s .col-3 h6 {
  padding-bottom: 35px;
  font-weight: 700;
  color: black;
}
#footer .section-h .row-s .col-3 .bottom li {
  padding-bottom: 20px;
}
#footer .section-h .row-s .col-3 .social-media h6 {
  padding-bottom: 18px;
}
#footer .section-h .row-s .col-3 .social-media li {
  float: left;
  padding-left: 7px;
}
#footer .section-h .row-s .col-3 .p-padding {
  padding: 0 0 29px;
}
#footer .section-h .row-s .col-6-bottom {
  padding-bottom: 70px;
}
#footer .section-h .row-s .col-12 {
  color: #8f8f8f;
}
#footer .section-h .row-s .col-12 h2 {
  font-weight: 800;
  color: black;
}
#footer .section-h .row-s .col-12 .icon-location-ul {
  padding-top: 70px;
}
#footer .section-h .row-s .col-12 .icon-location-ul i {
  position: absolute;
}
#footer .section-h .row-s .col-12 .contact_info {
  padding: 0;
  padding-left: 35px;
  padding-bottom: 5px;
}
.copyright {
  text-align: center;
  padding-bottom: 100px;
}
.copyright .container {
  padding: 20px 0;
}
.copyright ul {
  width: 174px;
  margin: 0 auto;
}
.copyright ul li {
  float: left;
  padding-left: 10px;
}
.copyright p {
  font-size: 12px;
  color: #8f8f8f;
  padding: 8px;
}
/* copyright */
/* rwd 750 */
@media (max-width: 990px) {
  .container {
    width: 750px;
  }
  #header {
    padding: 0 30px;
  }
  #header .section-a .navbar .nav-item .nav-item-search li {
    float: none;
  }
  #header .section-a .navbar .nav-item .nav-item-search li .card {
    position: relative;
    top: 10px;
    margin: 20px auto;
    z-index: 0;
  }
  #header .section-a .navbar .nav-item .nav-item-search li .card .search {
    width: 100%;
    height: auto;
    padding: 0 100px;
  }
  #header .section-a .navbar .nav-item .nav-item-search li .card .search .container {
    width: 100%;
  }
  #header .section-a .navbar .nav-item .nav-item-search li .card .search .form-inline {
    padding: 0;
  }
  #header .section-a .navbar .nav-item .nav-item-search li .card .search .form-inline .form-control {
    width: 75%;
    margin-right: 1.5rem !important;
  }
  #content .section-a {
    display: none;
  }
  #content .section-a-s {
    display: block;
  }
  #content .section-a-s .col-12 {
    padding: 0 0 50px;
  }
  #content .section-a-s .col-12 .contact-form {
    padding: 0 73px;
  }
  #content .section-a-s .col-12 .h6-padding {
    padding: 26px 76px;
  }
  #content .section-a-s .col-12 .row .col-12 {
    padding-bottom: 7px;
  }
  #footer {
    padding: 0;
  }
  #footer .section-h .row {
    display: none;
  }
  #footer .section-h .row-s {
    display: block;
  }
  #footer .section-h .row-s .col-12 {
    padding-top: 60px;
  }
  #footer .section-h .row-s .col-12 h1 {
    font-weight: 700;
    color: black;
  }
  #footer .section-h .row-s .col-12 .col-3 {
    padding-left: 50px;
  }
  #footer .section-h .row-s .col-12 .icon-location-ul {
    padding-top: 10px;
    padding-right: 5%;
  }
  #footer .section-h .row-s .center {
    text-align: center;
  }
  #footer .section-h .row-s .center span {
    padding-right: 25px;
  }
  .copyright {
    padding: 0;
  }
  .copyright ul {
    width: 174px;
  }
}
/* rwd 320 */
@media (max-width: 700px) {
  .container {
    width: 100%;
  }
  #header {
    padding: 0;
  }
  #header .section-a .navbar .nav-item .nav-item-search li {
    float: none;
  }
  #header .section-a .navbar .nav-item .nav-item-search li .card {
    margin: 20px auto;
  }
  #header .section-a .navbar .nav-item .nav-item-search li .card .search {
    padding: 0 19px;
  }
  #header .section-a .navbar .nav-item .nav-item-search li .card .search .form-inline .form-control {
    width: 75%;
    margin-right: 0 !important;
  }
  #header .section-a .phone-padding {
    display: none;
  }
  #content {
    padding: 0 30px;
  }
  #content .section-a {
    display: none;
  }
  #content .section-a-s {
    display: block;
  }
  #content .section-a-s .col-12 .h6-padding {
    text-align: center;
    padding: 0;
    padding-bottom: 30px;
  }
  #content .section-a-s .col-12 .title p {
    padding-bottom: 50px;
  }
  #content .section-a-s .col-12 .title h4 {
    text-align: center;
  }
  #content .section-a-s .col-12 ul {
    padding: 0;
  }
  #content .section-a-s .col-12 ul .col-12-1 {
    width: 100%;
  }
  #content .section-a-s .col-12 ul h6 {
    padding-top: 10px;
  }
  #content .section-a-s .col-12 ul li {
    width: 100%;
    padding: 0;
  }
  #content .section-a-s .col-12 ul li p {
    padding: 0;
  }
  #content .section-a-s .col-12 .contact-form {
    padding: 0;
  }
  #content .section-a-s .col-12 .contact-form .row input {
    width: 100%;
  }
  #content .section-a-s .col-12 .contact-form .row textarea {
    width: 100%;
  }
  #footer .section-h .row-s .col-4-left {
    padding: 20px 30px;
  }
  #footer .section-h .row-s .col-6-bottom {
    padding-bottom: 20px;
  }
  #footer .section-h .row-s .col-12 ul .contact_info {
    padding: 4px 0 4px;
  }
  #footer .section-h .row-s .col-12 .col-3 {
    max-width: 100%;
    padding: 20px 30px;
    padding-left: 30px;
  }
  #footer .section-h .row-s .col-12 .col-3 h2 {
    text-align: center;
  }
  #footer .section-h .row-s .col-12 .col-3 h6 {
    text-align: center;
  }
  #footer .section-h .row-s .col-12 .col-3 .p-padding {
    text-align: center;
  }
  #footer .section-h .row-s .col-12 .col-3 .bottom {
    text-align: center;
  }
  #footer .section-h .row-s .col-12 .col-3 .center {
    padding: 0 64px;
  }
  #footer .section-h .row-s .col-12 .col-3 .center-p {
    text-align: center;
  }
  .copyright ul {
    width: 174px;
    float: none;
    padding: 0;
    margin: 0 auto;
  }
  .copyright .title {
    padding: 13px 0;
    margin: 0 74px;
  }
}
