* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.clearfix:after,
.row:after {
  content: "";
  display: table;
  clear: both;
}
.container {
  display: block;
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.col-4,
.col-6,
.col-12 {
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h1 {
  font-size: 4em;
}
p {
  margin: 0;
}
hr {
  margin: 0;
}
/* all */
body .sundance {
  color: #c8a760;
}
body .alto {
  color: #d6d6d6;
}
body .carousel-button {
  position: absolute;
  width: 80px;
  height: 41px;
  top: -55px;
  left: 92%;
  border-radius: 35px;
  background-color: #eeeeee;
}
body .carousel-control-prev {
  display: inline;
  top: 24%;
  left: 8%;
  opacity: 1.5;
}
body .carousel-control-prev .icon-angle_left {
  padding: 7px 5px;
  border-radius: 50%;
  color: #bebebe;
  background-color: #ffffff;
}
body .carousel-control-next {
  display: inline;
  top: 23%;
  right: 30%;
  opacity: 1.5;
}
body .carousel-control-next .icon-angle_right {
  padding: 7px 5px;
  border-radius: 50%;
  color: #bebebe;
  background-color: #ffffff;
}
body .padding-10 {
  padding: 10px 0;
}
body .f-w-700 {
  font-weight: 700;
}
body button:focus {
  outline: none;
}
body .none {
  display: none;
}
/* header */
.headcontent {
  padding: 0 37px;
  line-height: 3;
  background-color: #f8f8f8;
}
.headcontent a {
  color: #696969;
}
.headcontent .phone {
  float: left;
}
.headcontent .account {
  float: right;
}
.headcontent ul li {
  float: left;
}
.headcontent ul .shift {
  padding-right: 10px;
}
.headcontent ul .shift p:after {
  content: "|";
  padding: 0 12px;
  color: #696969;
}
.headcontent ul .btn-group {
  color: #696969;
}
.headcontent ul .btn-group .btn {
  border: none;
  background: none;
  box-shadow: none;
}
.headcontent ul .btn-group .dropdown-toggle {
  color: #696969;
  padding-top: 15px;
}
.headcontent ul .btn-group .dropdown-menu {
  top: -8px !important;
  left: -10px !important;
  padding: 0;
  z-index: 9999;
  border: 1px solid #eee;
}
.headcontent ul .btn-group .dropdown-menu .dropdown-item {
  padding: 0.4rem 1.5rem;
  color: #696969;
}
#header {
  margin: 0 auto;
  padding: 7px 30px;
}
#header .section-a .block-left {
  float: left;
  width: 39%;
}
#header .section-a .block-left li {
  float: left;
  padding-right: 10%;
}
#header .section-a .navbar {
  padding: 22px;
  background-color: white;
}
#header .section-a .navbar .logo li {
  float: left;
}
#header .section-a .navbar .logo .phone-padding {
  float: left;
  padding: 15px 22px;
  font-weight: 700;
}
#header .section-a .navbar .logo .phone-padding a {
  color: #4b4b4b;
}
#header .section-a .navbar .navbar-nav {
  margin-left: auto;
}
#header .section-a .navbar .navbar-toggler {
  border: none;
  outline: none;
}
#header .section-a .navbar .nav-item .nav-link {
  padding: 0.8rem 1rem;
}
#header .section-a .navbar .nav-item .nav-item-search li {
  position: relative;
  float: left;
}
#header .section-a .navbar .nav-item .nav-item-search li a {
  padding: 0 8px;
  color: #000;
}
#header .section-a .navbar .nav-item .nav-item-search li .f-s {
  font-size: 30px;
}
#header .section-a .navbar .nav-item .nav-item-search li .amount {
  position: absolute;
  top: 21px;
  left: 33px;
  padding: 2px 7px;
  font-size: 13px;
  font-weight: 700;
  border: 3px solid white;
  border-radius: 50%;
  color: white;
  background-color: black;
}
#header .section-a .navbar .nav-item .nav-item-search li .shopping-bag {
  position: absolute;
  top: 0;
  z-index: 1001;
  transform: scaleZ(1);
}
#header .section-a .navbar .nav-item .nav-item-search li .shopping-bag .login {
  position: relative;
}
#header .section-a .navbar .nav-item .nav-item-search li .shopping-bag .shopping-bag__subnav {
  padding: 20px 40px;
  background-color: #fbfbfbde;
}
#header .section-a .navbar .nav-item .nav-item-search li .shopping-bag .shopping-bag__subnav ul li {
  float: none;
  padding: 20px 10px;
}
#header .section-a .navbar .nav-item .nav-item-search li .shopping-bag .shopping-bag__subnav ul li a {
  display: block;
  padding: 12px;
  color: #656565;
  line-height: 1.5;
  transition: all 0.3s ease;
}
#header .section-a .navbar .nav-item .nav-item-search li .shopping-bag .shopping-bag__subnav ul li a img {
  position: absolute;
}
#header .section-a .navbar .nav-item .nav-item-search li .shopping-bag .shopping-bag__subnav ul li a p {
  float: left;
  padding: 10px 26px 10px 100px;
  color: #757575;
}
#header .section-a .navbar .nav-item .nav-item-search li .shopping-bag .shopping-bag__subnav ul li p {
  color: #757575;
}
#header .section-a .navbar .nav-item .nav-item-search li .shopping-bag .shopping-bag__subnav ul li .cancel {
  margin: 26px 0;
  border: none;
  background: none;
}
#header .section-a .navbar .nav-item .nav-item-search li .shopping-bag .shopping-bag__subnav ul li .cancel .icon-cancel {
  color: red;
}
#header .section-a .navbar .nav-item .nav-item-search li .shopping-bag .shopping-bag__subnav ul li .check {
  padding: 10px 33px;
  border: 1px solid black;
  border-radius: 2.25rem;
  background: none;
}
#header .section-a .navbar .nav-item .nav-item-search li .shopping-bag .shopping-bag__subnav ul li .check:hover {
  border: none;
  color: white;
  background-color: black;
}
#header .section-a .navbar .nav-item .nav-item-search li .shopping-bag .shopping-bag__subnav ul li .checkout {
  float: right;
}
#header .section-a .navbar .nav-item .nav-item-search li .shopping-bag .shopping-bag__subnav ul .bg:hover {
  background-color: #eee;
}
#header .section-a .navbar .nav-item .nav-item-search li .shopping-bag .shopping-bag__subnav ul hr {
  margin: 16px 0;
}
#header .section-a .navbar .nav-item .nav-item-search li .shopping-bag .shopping-bag__subnav ul .price {
  float: right;
  color: black;
  font-size: 15px;
}
#header .section-a .navbar .nav-item .nav-item-search li .shopping-bag .shopping-bag__subnav ul .padding-none {
  padding: 0;
}
#header .section-a .navbar .nav-item-right {
  padding-right: 30px;
}
.shopping-bag__subnav {
  position: absolute;
  top: -9999px;
  right: -3px;
  width: 415px;
  font-size: 12px;
  text-align: left;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.shopping-bag__subnav:after {
  top: -18px;
  right: 15px;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom: 10px solid #fbfbfbde;
  border-width: 10px;
  margin-left: -3px;
}
.shopping-bag__subnav li span {
  display: block;
}
.shopping-bag__subnav li span:first-child {
  font-size: 10px;
}
.shopping-bag__subnav-appear {
  top: 53px;
  opacity: 1;
  height: 500px;
  overflow: auto;
}
.overflow-hidden {
  overflow: hidden;
}
.try-example {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
.header {
  margin-bottom: 50px;
  padding: 35px 0;
  text-align: center;
  background-color: #f4f4f4;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
.header .about-list {
  float: left;
}
.header .about-list a {
  color: #a8a8a8;
}
.header .about-list li {
  float: left;
}
.header .about-list .more-than:after {
  content: ">";
  padding: 0 12px;
}
.header .about {
  padding: 30px 0;
}
.header h2 {
  font-size: 45px;
  font-weight: 700;
  padding: 15px 0;
  color: #494949;
}
.header p {
  padding: 10px 0;
  color: #494949;
}
#nav li {
  padding: 0 15px;
  line-height: 6;
}
#header_right .icon-search {
  left: -72px;
}
#header_right .basket .icon-shopping-basket {
  left: -42px;
}
/* content */
#content .container .circuit {
  padding: 30px 0;
}
#content .container .circuit ul {
  width: 55%;
  text-align: center;
  margin: 0 auto;
}
#content .container .circuit ul li {
  float: left;
}
#content .container .circuit ul li p {
  padding: 10px 0;
}
#content .container .circuit ul li .number {
  padding: 35px;
  border: 2px solid #eee;
  border-radius: 50%;
  font-weight: 700;
}
#content .container .circuit ul li .number-light {
  color: #9f9f9f;
}
#content .container .circuit ul li .number-line-black {
  border: 2px solid black;
}
#content .container .circuit ul li .light {
  color: #9f9f9f;
}
#content .container .circuit ul .hr {
  width: 15%;
  margin: 0 10px;
  padding: 55px 0;
  color: #eee;
}
#content .container .product {
  padding: 100px 0;
}
#content .container .product .product-title {
  padding: 10px 0;
}
#content .container .product .product-title li {
  float: left;
  padding-right: 55px;
}
#content .container .product .product-title li p {
  font-weight: 700;
  color: #808080;
}
#content .container .product .product-title .product-piece-left {
  width: 61%;
  padding-right: 0;
}
#content .container .product .line {
  border-bottom: 1px solid #eeeeee;
}
#content .container .product li .product-ul-left {
  position: relative;
  float: left;
  padding-right: 15%;
}
#content .container .product li .product-ul-left img {
  position: absolute;
  padding: 18px 0;
}
#content .container .product li .product-ul-left p {
  padding: 60px 140px;
  font-weight: 700;
  color: #757575;
}
#content .container .product li .price {
  float: left;
}
#content .container .product li .price li {
  float: left;
  padding: 59px 28px;
}
#content .container .product li .price li .cancel {
  border: none;
  color: red;
  background: none;
}
#content .container .product li .price li span {
  font-weight: 700;
}
#content .container .product li .price li .form-select {
  padding: 10px;
  border: none;
  background-color: #eee;
}
#content .container .product li .price li .form-select:focus {
  outline: none;
  box-shadow: none;
}
#content .container .product li .price .price-select {
  padding: 51px 28px;
}
#content .container .product li .form-inline {
  width: 28%;
  margin: 0 auto;
  padding: 36px 0;
}
#content .container .product li .form-inline .form-control {
  margin-right: 3px !important;
  padding: 18px;
  font-size: 10px;
  color: #7d7d7d;
  border-radius: 0;
}
#content .container .product li .form-inline .form-control:focus {
  color: #7d7d7d;
  background-color: #fff;
  border-color: #eee;
  outline: none;
  box-shadow: none;
}
#content .container .product li .form-inline .btn {
  font-weight: 700;
  border: none;
  border-radius: 0;
  color: white;
  background-color: #cba233;
}
#content .container .shipping {
  padding-bottom: 150px;
}
#content .container .shipping .col-6 {
  float: left;
  padding: 0 30px;
}
#content .container .shipping .col-6 h6 {
  padding: 0 0 15px 50px;
  font-weight: 700;
}
#content .container .shipping .col-6 .calculate-shipping ul li {
  padding: 5px 0;
}
#content .container .shipping .col-6 .calculate-shipping ul li .form-select {
  width: 100%;
  padding: 15px 20px;
  border: 1px solid #dcdcdc;
  border-radius: 0.8rem;
  font-size: 10px;
  color: #7d7d7d;
  background-color: #fff;
}
#content .container .shipping .col-6 .calculate-shipping ul li .form-select:focus {
  outline: none;
  box-shadow: none;
}
#content .container .shipping .col-6 .calculate-shipping ul .update-total {
  margin-top: 25px;
  padding: 15px 25px;
  border: 1px solid #dcdcdc;
  font-weight: 700;
  color: #c6c6c6;
  background-color: #eee;
}
#content .container .shipping .col-6 .cart-total ul {
  padding: 28px 58px;
  border: 1px solid #dcdcdc;
}
#content .container .shipping .col-6 .cart-total ul li {
  padding: 4px 0;
  border-bottom: 1px solid #dcdcdc;
}
#content .container .shipping .col-6 .cart-total ul li p {
  float: left;
  font-size: 14px;
  font-weight: 700;
  color: #808080;
}
#content .container .shipping .col-6 .cart-total ul li span {
  float: right;
  font-size: 23px;
  font-weight: 700;
}
#content .container .shipping .col-6 .cart-total ul li .cart-total-title-l {
  padding-top: 7px;
}
#content .container .shipping .col-6 .cart-total ul li .cart-total-span-s {
  font-size: 10px;
  color: black;
}
#content .container .shipping .col-6 .cart-total ul .line-none {
  border: none;
}
#content .container .shipping .col-6 .cart-total .proceed-to-checkout {
  float: right;
  margin-top: 25px;
  padding: 15px 25px;
  border: none;
  font-weight: 700;
  color: white;
  background-color: #88bd6e;
}
.content-bottom-item {
  float: left;
  width: 20%;
  padding: 0 0 0 7px;
}
.content-bottom-item img {
  width: 100%;
}
.content-bottom-item p {
  padding: 15px 0 0 25px;
  font-weight: 600;
  line-height: 2;
  color: #747474;
}
.SectionCItem .discount p {
  top: 50px;
  padding: 5px 15px;
}
/* footer */
#footer {
  padding: 70px 0;
  background-color: #f6f6f6;
}
#footer a {
  font-size: 13px;
  color: #7f7f7f;
  transition: all 0.27s;
}
#footer a:hover {
  color: #f29898;
}
#footer .section-h p {
  padding: 18px 0;
  font-size: 13px;
  color: #7f7f7f;
}
#footer .section-h .col-5 {
  position: relative;
  float: left;
  max-width: 28%;
  flex: 10%;
  color: #a0a0a0;
}
#footer .section-h .col-5 .li-bottom {
  padding-bottom: 30px;
}
#footer .section-h .col-5 h2 {
  color: #7f7f7f;
  font-weight: 800;
}
#footer .section-h .col-5 h6 {
  padding-bottom: 35px;
  font-weight: 700;
  color: #575757;
}
#footer .section-h .col-5 .icon-location-ul i {
  position: absolute;
}
#footer .section-h .col-5 .contact_info {
  padding: 0;
  padding-left: 35px;
  padding-bottom: 5px;
}
#footer .section-h .col-5 .bottom li {
  padding-bottom: 20px;
}
#footer .section-h .col-5 .social-media {
  float: right;
}
#footer .section-h .col-5 .social-media h6 {
  text-align: right;
  padding-bottom: 18px;
}
#footer .section-h .col-5 .social-media li {
  float: left;
  padding-left: 7px;
}
#footer .section-h .col-5 .title-right {
  float: right;
}
#footer .section-h .col-5 .input-group {
  width: 100%;
  padding: 0.5rem 1.6rem;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 1.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
#footer .section-h .col-5 .input-group .form-control-2 {
  display: block;
  width: 90%;
  border: none;
  outline: none;
  color: #767c82;
  background: none;
}
#footer .section-h .col-5 .mb-3 {
  margin-bottom: 2rem!important;
}
#footer .section-h .col-5 .p-padding {
  float: right;
  text-align: right;
  padding: 0 0 29px;
}
#footer .section-h .col-5-l {
  flex-grow: 3;
  flex-basis: 6%;
}
#footer .section-h .row-s {
  display: none;
}
#footer .section-h .row-s .col-6 {
  position: relative;
  float: left;
  color: #a0a0a0;
}
#footer .section-h .row-s .col-6 .li-bottom {
  padding-bottom: 30px;
}
#footer .section-h .row-s .col-6 h2 {
  color: #7f7f7f;
  font-weight: 800;
}
#footer .section-h .row-s .col-6 h6 {
  padding-bottom: 35px;
  font-weight: 700;
  color: #575757;
}
#footer .section-h .row-s .col-6 .icon-location-ul i {
  position: absolute;
}
#footer .section-h .row-s .col-6 .contact_info {
  padding: 0;
  padding-left: 35px;
  padding-bottom: 5px;
}
#footer .section-h .row-s .col-6 .bottom li {
  padding-bottom: 20px;
}
#footer .section-h .row-s .col-6 .social-media h6 {
  padding-bottom: 18px;
}
#footer .section-h .row-s .col-6 .social-media li {
  float: left;
  padding-left: 7px;
}
#footer .section-h .row-s .col-6 .input-group {
  width: 100%;
  padding: 0.5rem 1.6rem;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 1.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
#footer .section-h .row-s .col-6 .input-group .form-control-2 {
  display: block;
  width: 90%;
  border: none;
  outline: none;
  color: #767c82;
  background: none;
}
#footer .section-h .row-s .col-6 .mb-3 {
  margin-bottom: 2rem!important;
}
#footer .section-h .row-s .col-6 .p-padding {
  padding: 0 0 29px;
}
#footer .section-h .row-s .col-4 {
  position: relative;
  float: left;
  color: #a0a0a0;
}
#footer .section-h .row-s .col-4 .li-bottom {
  padding-bottom: 30px;
}
#footer .section-h .row-s .col-4 h2 {
  color: #7f7f7f;
  font-weight: 800;
}
#footer .section-h .row-s .col-4 h6 {
  padding-bottom: 35px;
  font-weight: 700;
  color: #575757;
}
#footer .section-h .row-s .col-4 .icon-location-ul i {
  position: absolute;
}
#footer .section-h .row-s .col-4 .contact_info {
  padding: 0;
  padding-left: 35px;
  padding-bottom: 5px;
}
#footer .section-h .row-s .col-4 .bottom li {
  padding-bottom: 20px;
}
#footer .section-h .row-s .col-4 .social-media h6 {
  padding-bottom: 18px;
}
#footer .section-h .row-s .col-4 .social-media li {
  float: left;
  padding-left: 7px;
}
#footer .section-h .row-s .col-4 .p-padding {
  padding: 0 0 29px;
}
#footer .section-h .row-s .col-6-bottom {
  padding-bottom: 70px;
}
.copyright .container {
  padding: 20px 0;
}
.copyright .title {
  float: left;
  font-size: 12px;
  color: #8e8e8e;
}
.copyright .title span {
  font-weight: 800;
  color: #000;
}
.copyright .title span a {
  color: #000;
  transition: all 0.27s;
}
.copyright .title span a:hover {
  color: #f29898;
}
.copyright ul {
  float: right;
}
.copyright ul li {
  float: left;
  padding-left: 10px;
}
@media (max-width: 1178px) {
  #content .container .product .product-title .product-piece-left {
    width: 56%;
  }
  #content .container .product li .product-ul-left {
    padding-right: 0;
  }
}
@media (max-width: 1075px) {
  .container {
    width: 750px;
  }
  #header .logo .phone-padding {
    display: none;
  }
  #header .section-a .navbar {
    padding: 22px 0;
  }
  #header .section-a .navbar .nav-item .nav-item-search li .shopping-bag .shopping-bag__subnav {
    background-color: #fbfbfb;
  }
  #content .container .circuit ul {
    width: 75%;
  }
  #content .container .product li {
    padding: 0 32px;
  }
  #content .container .product li .product-ul-left {
    width: 46%;
  }
  #content .container .product li .product-ul-left p {
    padding: 47px 0 47px 131px;
  }
  #content .container .product li .price li {
    padding: 59px 10px;
  }
  #content .container .product li .form-inline {
    width: 41%;
  }
  #content .container .product .product-title li {
    padding-right: 0;
  }
  #content .container .product .product-title .product-piece-left {
    width: 45%;
  }
  #content .container .shipping .col-6 .cart-total ul {
    padding: 35px 40px;
  }
  #content .container .shipping .col-6 .cart-total ul li span {
    font-size: 19px;
  }
  #footer .section-h .row {
    display: none;
  }
  #footer .section-h .row-s {
    display: block;
  }
  #footer .section-h .row-s .col-12 {
    padding-bottom: 50px;
  }
  #footer .section-h .row-s .col-4-left {
    padding-left: 80px;
  }
  #footer .section-h .row-s .col-4-bottom {
    padding-bottom: 0;
  }
  #footer .section-h .row-s .col-6-left {
    padding-left: 77px;
  }
}
@media (max-width: 1000px) {
  .shopping-bag__subnav {
    right: 0;
    left: 0;
  }
}
/* rwd 700X350 */
@media (max-width: 800px) {
  .container {
    width: 100%;
  }
  #header .section-a .navbar {
    padding: 22px 0;
  }
  #header .section-a .navbar .nav-item .nav-item-search li .shopping-bag .shopping-bag__subnav {
    background-color: #fbfbfb;
  }
  #header .navbar .phone-padding {
    display: none;
  }
  .header .about-list {
    padding-left: 15px;
  }
  .shopping-bag__subnav {
    right: 0;
    left: -107px;
  }
  .headcontent .phone {
    display: none;
  }
  #content .container .circuit ul {
    width: 70%;
  }
  #content .container .circuit ul li .number {
    display: inline-block;
    padding: 10px;
    font-size: 20px;
  }
  #content .container .circuit ul li p {
    font-size: 12px;
  }
  #content .container .circuit ul .hr {
    margin: 0;
    padding: 25px 0;
  }
  #content .container .product {
    padding: 35px 0;
  }
  #content .container .product li .product-ul-left {
    width: 100%;
  }
  #content .container .product li .product-ul-left img {
    position: relative;
    width: 100%;
  }
  #content .container .product li .product-ul-left p {
    text-align: center;
    padding: 0;
  }
  #content .container .product li .price {
    float: none;
    width: 86%;
    margin: 0 auto;
  }
  #content .container .product li .form-inline {
    width: 100%;
    margin: 0;
  }
  #content .container .product li .form-inline .form-control {
    width: 78%;
  }
  #content .container .product .product-title {
    display: none;
  }
  #content .container .shipping {
    padding-bottom: 50px;
  }
  #content .container .shipping .col-6 {
    max-width: 100%;
    padding-bottom: 50px;
  }
  #content .container .shipping .col-6 h6 {
    padding-left: 0;
    padding-bottom: 10px;
  }
  #content .container .shipping .col-6 .cart-total .proceed-to-checkout {
    float: none;
  }
  .section-h .row {
    flex-direction: column;
  }
  .section-h .row .col-5 {
    padding-top: 20px;
  }
  .section-h .row .col-5 .progress .w-75 .progress-bar-p {
    right: 20px;
  }
  .section-i .row {
    margin: 0;
  }
  .section-i .row .col-5 {
    width: 80%;
  }
  #footer .section-h .row-s .col-12 {
    padding: 0;
  }
  #footer .section-h .row-s .col-6 {
    max-width: 100%;
    padding: 45px 30px;
  }
  #footer .section-h .row-s .col-6 h2 {
    text-align: center;
  }
  #footer .section-h .row-s .col-6 h6 {
    text-align: center;
  }
  #footer .section-h .row-s .col-6 .p-padding {
    text-align: center;
  }
  #footer .section-h .row-s .col-6 .bottom {
    text-align: center;
  }
  #footer .section-h .row-s .col-6 .center {
    width: 160px;
    margin: 0 auto;
  }
  #footer .section-h .row-s .col-6 .center-p {
    text-align: center;
  }
  #footer .section-h .row-s .col-6-left {
    padding: 20px 30px;
  }
  #footer .section-h .row-s .col-4 {
    max-width: 100%;
    padding: 20px 30px;
  }
  #footer .section-h .row-s .col-4 h2 {
    text-align: center;
  }
  #footer .section-h .row-s .col-4 h6 {
    text-align: center;
  }
  #footer .section-h .row-s .col-4 .p-padding {
    text-align: center;
  }
  #footer .section-h .row-s .col-4 .bottom {
    text-align: center;
  }
  #footer .section-h .row-s .col-4 .center {
    padding: 0 64px;
  }
  #footer .section-h .row-s .col-4 .center-p {
    text-align: center;
  }
  #footer .section-h .row-s .col-4-left {
    padding: 20px 30px;
  }
  #footer .section-h .row-s .col-6-bottom {
    padding-bottom: 20px;
  }
  .copyright ul {
    float: none;
    width: 190px;
    padding-bottom: 20px;
    margin: 0 auto;
  }
  .copyright .title {
    float: none;
    width: 190px;
    padding: 13px 0;
    margin: 0 auto;
  }
}
